.input-text {
  display: inline-block;
  position: relative;
  padding-right: 20px;
}
.input-price {
  outline: none;
  border: 1px solid black;
}
.input-price:focus {
  border: 1px solid green;
}
.input-error {
  display: none;
  width: 100%;
}
.text-close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
}
.text-close:before, .text-close:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1px;
  height: 100%;
  background: black;
  cursor: pointer;
}

.text-close:before {
  transform: rotate(45deg);
}

.text-close:after {
  transform: rotate(-45deg);
}