body {
  font-family: Montserrat;
}

body, ul, li, p, h2 {
  margin: 0;
  padding: 0;
}

.header, .main, .footer {
  width: 1280px;
  margin: 0 auto;
}

.header__nav {
  padding: 26px 0 26px 330px;
}

.header__nav-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: inline;
  text-transform: uppercase;
}

.header__nav-link {
  color: #FF0000;
  text-decoration: none;
  padding-right: 72px;
}

.header__nav-link--design {
  padding-right: 50px;
}

.header__nav-link--download {
  padding-right: 0;
}

.main__image {
  width: 100%;
  height: 789px;
}

.main__title {
  font: bold 22px/27px Montserrat;
  letter-spacing: 3.3px;
  color: #373737;
  margin-top: 50px;
  margin-bottom: 38px;
  text-transform: uppercase;
  text-align: center;
}

.main__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
  text-align: center;
  max-width: 1145px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.main__button {
  font: bold 12px/12px Montserrat;
  background: #FF0000;
  color: #ffffff;
  border-radius: 4px;
  margin: 0 auto;
  padding: 18px 43px;
  display: block;
  border: none;
  margin-top: 66px;
  margin-bottom: 82px;
  letter-spacing: 1.8px;
  align-items: center;
  text-transform: uppercase;
}

.footer__copyright {
  font: bold 16px/20px Montserrat;
  color: #373737;
  text-align: right;
  margin-bottom: 29px;
  margin-right: 105px;
  letter-spacing: 2.4px;
}