*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

img {
	max-width: 100%;
}

a {
  text-decoration: none;
}

header, main {
  height: 770px;
  margin: 0 auto;
}

header {
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
}

/* Header */

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-logo {
  padding-top: 18px;
  padding-left: 80px;
  padding-bottom: 18px;
}

.navigation-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.navigation-text:hover {
  color: #3CB878;
  transition: .3s;
}

.header__navigation-menu {
  display: flex;
  align-items: center;
  padding-right: 80px;
}

.menu-text {
  font-size: 14px;
  line-height: 14px;
  padding-left: 27px;
  border-left: 1px solid rgba(255, 255, 255, 0.9);
  color: #FFFFFF;
}

.menu-link {
  margin-right: 26px;
  color: #FFFFFF;
}

.menu-link:hover svg path {
  fill: #3CB878;
  transition: .3s;
}

.menu-button {
  color: #FFFFFF;
}

.menu-button:hover {
  color: #3CB878;
  transition: .3s;
}

/* Main */

.main {
  width: 444px;
  height: 584px;
  margin: 55px auto 75px;
  background: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.main__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 15px;
}

.nav__sign-up {
  font-size: 20px;
  line-height: 20px;
  padding-left: 60px;
  border-left: 18px solid #3CB878;
  color: #434343;
}

.nav__log-in {
  font-size: 14px;
  line-height: 14px;
  padding-right: 60px;
  color: #3CB878;
}

.nav__log-in:hover {
  text-decoration: underline;
  transition: .3s;
} 

.nav-social {
  display: flex;
  justify-content: center;
}

.social-link {
  display: flex;
  justify-content: center;
  width: 160px;
  height: 48px;
  text-align: center;
  background: #305DB8;
  border-radius: 5px;
  border: none;
  transition: .7s;
}

.social-link:hover {
  background: #294F9D;
}

.google {
  margin-left: 5px;
  background: #DF4A32;
}

.google:hover {
  background: #C6422C;
}

.social-logo .google-logo {
  padding-right: 7px;
}

.social-logo {
  align-self: center;
  padding-left: 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 19px;
}

.social-text {
  font-size: 16px;
  line-height: 16px;
  padding: 15px 18px 15px 22px;
  color: #FFFFFF;
}

.main_choose {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 14px;
  margin: 31px auto 11px;
  color: #848484;
}

.main-forms {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 324px;
  height: 46px;
  margin: 0 auto 15px;
  padding: 15px 20px 15px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
}

.form-input:focus {
  border-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  transition: .7s;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
}

.form-label {
  font-size: 14px;
  line-height: 24px;
  color: #434343;
}

.agree-link {
  color: #3CB878;
}

.agree-link:hover {
  text-decoration: underline;
  transition: .3s;
}

.form-checkbox {
  display: none;
  /* width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #F2F2F2; */
}

label {
  cursor: default;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 14px;
  vertical-align: middle;
  margin-left: 65px;
}
 
label:before {
  content: " ";
  color: #3CB878;
  display: inline-block;
  margin-right: 15px;
  position: relative;
  text-align: center;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #F2F2F2;
  vertical-align: middle;
}
 
input:checked + label:before {
  content: "\2714";
  font-size: 20px;
}

input:disabled + label:before {
  background: #eeeeee;
  color: #aaaaaa;
}

.forms-create {
  width: 324px;
  height: 46px;
  align-self: center;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
  transition: .7s;
}

.forms-create:hover {
  background: #3CB878;
}

.create-text {
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}
