img {
	height: 100%;
  width: 100%;
  object-fit: cover;
}

#slides {
	position: relative;
	width: 500px;
	height: 300px;
	padding: 0px;
	margin: 0 auto;
}

.slide {
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.showing {
	opacity: 1;
	z-index: 2;
}

.controls__wrapper {
	width: fit-content;
	margin: 0 auto;
}