.body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  box-sizing: border-box;
}

/* header style */

.header__logo {
  font-size: 80px;
  line-height: 94px;
  margin: 61px 0 38px;  
}

.header__black-colour {
  color: #000000;
}

.header__blue-colour {
  color: #4BCAFF;
}

.header__navigation {
  width: 100%;
  margin-bottom: 50px;
}

.header__navigation-list {
  display: flex;
  justify-content: center;
  background: #35444F;
}

.header__navigation-item {
  font-size: 24px;
  line-height: 28px;
}

.header__navigation-link {
  display: inline-block;
  padding: 26px 35px 19px 35px;
  color: #FFFFFF;
  border-left: 1px solid #FFFFFF;
  transition: background .3s;
}

.header__navigation-link:last-child {
  border-right: 1px solid #FFFFFF;
}

.header__navigation-link:hover {
  background: #222F3A;
}

/* main style */

.main {
  display: flex;
}

.aside {
  min-width: 344px;
  margin-right: 50px;
}

.aside__navigation {
  border: 1px solid #000000;
}

.aside__navigation-item {
  font-size: 27px;
  line-height: 27px;
}

.aside__navigation-link {
  padding: 25px 0 25px 44px;
  display: inline-block;
  color: #485863;
  width: 100%;
  transition: .3s;
}

.aside__navigation-link:hover {
  color: #000000;
  background: #DBDBDB;
  padding-left: 65px;
}

.section__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 529px;
  margin-bottom: 37px;
  border: 1px solid #000000;
}

.section__image {
  transition: 1s;
}

.section__container:hover .section__image{
  transform: scale(1.3);
}

.section__paragraph {
  font-size: 18px;
  line-height: 24px;
  color: #2C2C2C;
  margin-bottom: 35px;
}

.section__paragraph:last-child {
  margin-bottom: 55px;
}

/* main footer */

.footer {
  display: flex;
  background: rgba(99, 105, 110, 0.48);
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.footer__navigation-list {
  display: flex;
  justify-content: flex-end;
}

.footer__navigation-item {
  font-size: 28px;
  line-height: 28px;
  padding: 20px 24px 20px 0;
}

.footer__navigation-item:last-child {
  padding-right: 0px;
}

.footer__navigation-link {
  color: #0C1927;
  transition: .3s;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
}

.footer__navigation-link:hover {
  color: #339cff;
  border-bottom: 2px solid #339cff;
}

.footer__copyright {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}