*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

img {
	max-width: 100%;
}

a {
  text-decoration: none;
}

.is-hidden {
  display: none!important;
}

.container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* Header */
.header {
  background: url('../img/Sections_background/section-1(header).jpg') no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  background-attachment: fixed;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(94, 93, 88, .6);
  min-height: 120px;
}

.header__logo {
  padding-right: 250px;
}

.header__navigation-list {
  display: flex;
}

.header__navigation-item {
  padding-right: 20px;
}

.header__navigation-link {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
  opacity: .6;
}

.header__navigation-link:hover {
  border-bottom: 2px solid #18CFAB; 
  color: #18CFAB;
  padding-bottom: 50px;
} 

.header__search-button {
  width: 21px;
  height: 20px;
  background: transparent;
  border: none;
  position: relative;
}

.header__search-button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  background: url('../img/header__search-icon.svg') no-repeat;
  background-size: contain;
  opacity: .6;
}

.header__text {
  padding-top: 270px;
  text-align: center;
  text-transform: uppercase;
}

.header__h1 {
  font-weight: bold;
  font-size: 35px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.header__h1 span {
  color: #18CFAB;
}

.header__h2 {
  font-weight: bold;
  font-size: 78px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.header__buy {
  text-transform: none;
  color: #FFFFFF;
}

.header__btn-container {
  display: flex;
  justify-content: center;
}

.header__btn {
  display: inline-block;
  width: 170px;
  height: 55px;
  margin-top: 130px;
  margin-bottom: 250px;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.header__btn:hover {
  box-shadow: 0px -5px 0px 0px rgba(255, 255, 255, 0.75);
  
}

.header__btn--green {
  background-color: #18CFAB;
  margin-right: 25px;
}

.header__btn--blue {
  background-color: #00CBF6;
}

/* Advantages section */
.advantages {
  display: flex;
  margin-bottom: 85px;
}

.advantages__item {
  width: 100%;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantages__item:nth-child(odd) {
  background-color: #1C2A33;
}

.advantages__item:nth-child(odd) .advantages__text {
  color: #18CFAB;
}

.advantages__item:nth-child(even) {
  background-color: #18CFAB;
}

.advantages__item:nth-child(even) .advantages__text {
  color: #fff;
}

.advantages__image {
  margin-bottom: 10px;
}

.advantages__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

/* Services section */

.services__title {
  width: 100%;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  color: #4E4E4E;
  padding-bottom: 25px;
  margin-bottom: 69px;
  position: relative;
}

.services__title:after, .services__title:before {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  display: block;
  width: 80px;
  height: 1px;
  background: #18CFAB;
}

.services__title:after {
  bottom: 0;
  left: 50%;
}

.services__title:before {
  bottom: -5px;
  left: 51%;
}

.services__btns {
  display: flex;
  width: 100%;
}

.services__btn {
  width: 100%;
  height: 76px;
  display: flex;
  font-size: 16px;
  line-height: 39px;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  background: #F8FCFE;
  border: 1px solid #EDEFEF;
  cursor: pointer;
}

.services__btn:hover {
  border: 1.5px solid #18CFAB;
}

.services__btn.is-tab-active {
  color: #FFFFFF;
  background-color: #18CFAB;
  border: none;
}

.services__tab {
  display: flex;
  margin-bottom: 90px;
}

.services__image {
  width: 192px;
  padding-right: 15px;
}

.services__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;  
}

/* Purchase section */

.purchase {
  background: url('../img/Purchase.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 480px;
}

.purchase__text {
  padding-top: 125px;
  text-align: center;
}

.purchase__h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #18CFAB;
  padding-bottom: 10px;
}

.purchase__buy {
  font-size: 16px;
  line-height: 40px;
  color: #D8D8D8;
  margin-bottom: 70px;
}

.purchase__btn-container {
  display: flex;
  justify-content: center;
}

.purchase__btn {
  display: inline-block;
  width: 170px;
  height: 55px;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.purchase__btn:hover {
  box-shadow: 0px -5px 0px 0px rgba(255, 255, 255, 0.75);
  
}

.purchase__btn--green {
  background-color: #18CFAB;
}

/* Amazing section */

.amazing {
  background: #E9EDEF;
}

.amazing-container {
  flex-direction: column;
  flex-wrap: wrap;
}

.amazing__title {
  width: 100%;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  color: #4E4E4E;
  margin-top: 95px;
  padding-bottom: 25px;
  margin-bottom: 69px;
  position: relative;
}

.amazing__title:after, .amazing__title:before {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  display: block;
  width: 80px;
  height: 1px;
  background: #18CFAB;
}

.amazing__title:after {
  bottom: 0;
  left: 50%;
}

.amazing__title:before {
  bottom: -5px;
  left: 51%;
}

.amazing__wrapper-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 70px;
}

.amazing__icon {
  padding-bottom: 24px;
}

.amazing__creative {
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #18CFAB;
}

.amazing__web {
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  color: #8A8A8A;
}

.amazing__item {
  font-size: 16px;
  line-height: 39px;
  background: #E9EDEF;
  color: #717171;
  border: 1px solid #EDEFEF;
  padding: 14px 27px;
  cursor: pointer;
  transition: .2s;
}

.amazing__item:hover {
  color: #18CFAB;
}

.amazing__item.is-active {
  border: 2px solid #18CFAB;
  color: #18CFAB;
}

.amazing__wrapper-tab {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.amazing__link {
  width: calc(100% / 4);
  height: 211px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.is-hide {
  display: none;
}

.is-show {
  display: block;
}

.amazing__btn-container {
  display: flex;
  justify-content: center;
}

.amazing__btn {
  display: inline-block;
  width: 170px;
  height: 55px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 42px;
  text-decoration: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.amazing__btn:hover {
  box-shadow: 0px -5px 0px 0px rgba(255, 255, 255, 0.75);
  
}

.amazing__btn--green {
  background-color: #18CFAB;
}

/* News section */

.news-container {
  flex-direction: column;
  flex-wrap: wrap;
}

.news__title {
  width: 100%;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  color: #4E4E4E;
  margin-top: 95px;
  padding-bottom: 25px;
  margin-bottom: 69px;
  position: relative;
}

.news__title:after, .news__title:before {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  display: block;
  width: 80px;
  height: 1px;
  background: #18CFAB;
}

.news__title:after {
  bottom: 0;
  left: 50%;
}

.news__title:before {
  bottom: -5px;
  left: 51%;
}

.news__wrapper-tab {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 130px;
}

.news__link {
  position: relative;
  overflow: hidden;
  padding-bottom: 45px;
  margin-right: 30px;
}

.news__link:nth-child(4n) {
  margin-right: 0px;
}

.news__image {
  height: 210px;
}

.news__date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background: #203E38;
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  transition: .3s;
}

.news__link:hover .news__date {
  background: #18CFAB;
}

.news__sub-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 39px;
  text-align: center;
  color: #717171;
  transition: .3s;
}

.news__link:hover .news__sub-title {
  color: #18CFAB;
}

.news__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  text-align: center;
  color: #777777;
}

/* About container */

.about {
  background: url('../img/Sections_background/section-3.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 860px;
}

.about__container {
  flex-wrap: wrap;
}

.about__title {
  width: 100%;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  color: #FFFFFF;
  padding-top: 100px;
  padding-bottom: 25px;
  margin-bottom: 69px;
  position: relative;
}

.about_title:after, .about__title:before {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  display: block;
  width: 80px;
  height: 1px;
  background: #18CFAB;
}

.about__title:after {
  bottom: 0;
  left: 50%;
}

.about__title:before {
  bottom: -5px;
  left: 51%;
}

.about__shape {
  margin: 30px auto 35px;
}

.about__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 40px;
  color: #BBBBBB;
}

.slider-info {
  width: 100%;
  margin-bottom: 40px;
}

.slider-info__item {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.is-active-info {
  display: flex;
}

.slider-info__img {
  width: 142px;
  height: 142px;
  margin: 0 auto;
}

.slider-navigation {
  width: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.slider-navigation__item {
  transition: .2s;
}

.slider-navigation__img {
  margin: 0 auto;
}

.is-active-slide {
  transform: translateY(-15px);
}

.slider-navigation__btn {
  width: 33px;
  height: 33px;
  background-color: transparent;
  border: 1px solid #BBBBBB;
  cursor: pointer;
  transition: .2s;
  position: relative;
}

.slider-navigation__btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 15px;
  transform: translateX(-50%) translateY(-50%);
}

.slider-navigation__btn--prev:after {
  background: url('../img/arrow-slider-prev.svg') no-repeat;
  background-size: contain;
}

.slider-navigation__btn--next:after {
  background: url('../img/arrow-slider-next.svg') no-repeat;
  background-size: contain;
}

.slider-navigation__btn:hover {
  background-color: #18CFAB; 
  border: 1px solid #18CFAB;
}

.slider-navigation__btn:focus {
  outline: none;
}

.masonry-item img {
  width: 100%;
  height: 100%;
}

.slider-info__text {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #18CFAB;
}

.slider__span {
  display: flex;
  margin: 20px auto 40px;
  font-size: 14px;
  text-transform: none;
  font-weight: normal;
  color: #717171;
}

/* Footer */

.footer {
  height: 121px;
  background: #22353F;
  text-align: center;
}

.footer__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #AEAEAE;
  padding-top: 50px;
}

.footer__green {
  color: #18CFAB;
}