*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header-container {
    background: url(../img/header-bg.jpeg);
    background-position: center center;
}

img {
	max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  outline: 0;
  border: 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Header */

.header__navigation-wrapper {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #313131;
}

.header__logo {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
}

.header__logo-img {
  padding: 0 40px 0 30px;
}

.header__company {
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
  color: #FFFFFF;
}

.header__navigation-list {
  display: flex;
}

.header__navigation-item {
  padding-right: 35px;
}

.header__navigation-item:last-child {
  padding-right: 0;
}

.header__navigation-link {
  color: #FFFFFF;
  font: 500 15px/20px 'Open Sans', sans-serif;
  text-transform: uppercase;
  transition: 0.3s;
}

.header__navigation-link:hover {
  color: #14B9D5;
} 

.header__search-button {
  height: 100%;
  width: 70px;
  background-color: #000;
}

.header__subheader-wrapper {
  background-attachment: fixed;
  background: url(../img/header-bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header__title {
  font-size: 27px;
  line-height: 37px;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0;
  width: 100%;
  text-align: center;
  padding-top: 165px;
  padding-bottom: 45px;
  z-index: 1;
}

.header__button-container {
  z-index: 1;
}

.header__button {
  color: #FFFFFF;
  padding: 17px 19px;
  border-radius: 4px;
  background-color: #89CA62;
  height: 55px;
  width: 170px;
  font-size: 18px;
  line-height: 25px;
  margin-right: 20px;
}

.header__button--cyan {
  font-size: 18px;
  line-height: 25px;
  background-color: #14B9D5;
}

/* Main */

.main {
  background: #F2F2F2;
}

.main__title {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 27px;
  line-height: 37px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #18B4CF;
}

.main__title--clients {
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
  padding-bottom: 90px;
  padding-top: 110px;
  position: relative;
}

.main__title--clients::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background: #18B4CF;
}

.main__popular {
  margin: 0 auto 51px;
  width: 1170px;
}

.popular__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 840px;
}

.main__cards {
  width: 370px;
  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.main__cards:nth-child(odd) {
  margin-bottom: 30px;
  margin-right: 30px;
}

.main__cards-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  padding: 21px;
  text-align: center;
  color: #353A3D;
}

.main__popular-clients {
  background-attachment: fixed;
  background: url(../img/parallax-bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 588px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main__clients-logos {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2vw;
  grid-template-areas:
  "item1 item2 item3 item4";
  align-items: center;
  justify-items: center;
  padding-bottom: 190px;
  padding-top: 100px;
  z-index: 1;
}

.rated-galerey {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(271px, 1fr));
  justify-items: stretch;
}

.rated-images {
  object-fit: cover;
}

.main__hot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
  grid-template-areas:
  "item1 item1 item1 item2"
  "item3 item3 item4 item4"
  "item5 item5 item6 item6"
  "item7 item8 item8 item8";
  justify-content: space-between;
}

/* Footer */

.footer {
  background-color: #1d2124;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1160px;
  height: 80px;
  margin: 0 auto;
  align-content: center;
}

.footer__text {
  margin-top: 8px;
  font-size: 13px;
  color: white;
}
.footer__logo {
  text-align: right;
}

.footer__company-name {
  vertical-align: top;
}
