body, html {
	width: 100%;
	height: 100%;
	font-family: "Roboto", arial, sans-serif;
	font-weight: 700;
	color: #ffae00;
	background: url(../img/background.jpg) ;
	overflow: hidden;
}

.audio {
  display: block;
  top: 93%;
  left: 40%;
  position: relative;
  margin: 0 auto;
}

.main {
  position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}

.main-content {
  text-align: center;
  position: absolute;
	top: 100%;
	animation: scroll 30s linear 0s infinite;
}

.main__title {
  padding-bottom: 60px;
}

.main__sub-title {
  padding-bottom: 60px;
}

.main__text {
  text-align: justify;
  padding-bottom: 60px;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -170%;
  }
}