*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  padding-top: 46px;
  height: 100vh;
}

img {
	max-width: 100%;
}

a {
  text-decoration: none;
}

header, main, footer {
  width: 1030px;
  margin: 0 auto;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  height: 61px;
}

.header__logo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header__logo-img {
  background: url(../img/logo.svg) no-repeat;
  background-size: contain;
  width: 53px;
  height: 47px;
  margin-right: 10px;
  transition: .3s; 
}

.header__logo:hover .header__logo-img {
  background: url(../img/logo2.svg) no-repeat;
  background-size: contain;
}

.header__logo-text {
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: .3s; 
}

.header__logo:hover .header__logo-text{
  color: #F26522;
}

.header__logo-text--small {
  font-size: 18px;
  line-height: 24px;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.header__contacts-item {
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}

.header__contacts-item:hover {
  color: #F26522;
  transition: .3s
}

/* Main */

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 17px;
}

.main__item {
  margin-bottom: 17px;
}

.main__item:hover .main__price {
  bottom: 0;
}

.main__image {
  width: 300px;
  height: 220px;
}

.main__image-container {
  position: relative;
  overflow: hidden;
}

.main__title {
  font-size: 18px;
  line-height: 18px;
  padding: 20px 10px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
}

.main__item:hover .main__title {
  color: #F26522;
  transition: .3s
}

.main__price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 7px 16px 14px;
  background: #F26522;
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  transition: .3s;
}

.main__price-info {
  display: flex;
  flex-direction: column;
}

.main__price-text {
  font-size: 10px;
  line-height: 10px;
  padding-bottom: 8px;
  color: #FFFFFF;
}

.main__price-value {
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.main__price-details {
  position: relative;
  font-size: 14px;
  line-height: 14px;
  padding-right: 21px;
  color: #FFFFFF;
}

.main__price-details::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 5px;
  height: 10px;
  background: url(../img/arrow.svg) no-repeat;
  background-size: contain;
}

/* Footer */

.footer__copyright {
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 15px;
  text-align: center;
  color: #FFFFFF;
}